# personal
report.pdf

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby/Bundler
.gems/
Gemfile.lock
vendor/

# Nix
result
result-*

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
